.buttonBackground{
    background-color: #777;
    border-radius: 15px;
    height: 30px;
    width: 100px; 
    transition: all 0.5s;
}

.buttonBackgroundActive{
    background-color:green;
    border-radius: 15px;
    height: 30px;
    width: 100px; 
    transition: all 0.5s;
}

.buttonCircle{
    background-color: #fff;
    border-radius: 100px;
    height: 30px;
    width: 50px;
    transition: all 0.5s;
}
.buttonCircleActive{
    background-color: #fff;
    border-radius: 100px;
    height: 30px;
    width: 50px;
    margin-left: 50px;
    transition: all 0.5s;

}

.container {
    display: flex;

}